
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* @font-face {
  font-family: 'kyn';
  src: url('../../public/fonts/Kyn-Regular.ttf');
}
 

@font-face {
  font-family: 'kyn-lt';
  src: url('../../public/fonts/Kyn-Light.ttf');
}

@font-face {
  font-family: 'kyn-bold';
  src: url('../../public/fonts/Kyn-Bold.ttf');
}

@font-face {
  font-family: 'kyn-md'; 
  src: url('../../public/fonts/Kyn-Medium.ttf');
}

@font-face {
  font-family: 'kyn-semibold';
  src: url('../../public/fonts/Kyn-SemiBold.ttf');
} */
@font-face {
  font-family: 'Kyn';
  src: url('/fonts/Kyn-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}